:host {


  ion-fab-list ion-fab-button::part(native) {
    background: rgba(255,255,255,.18);
    color: #fff;
    border: 1px solid rgba(255,255,255,.22);
    -webkit-backdrop-filter: blur(10px) saturate(140%);
    backdrop-filter: blur(10px) saturate(140%);
    border-radius: 50%;   
    
  }
}
:host {
  /* el host no necesita position fixed si usas ion-fab con slot="fixed" */
  display: contents; /* evita contenedor extra que pueda desplazar */
}

/* seguridad por si algo lo tapa */
ion-fab { z-index: 20; }
