<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-card>
    <form [formGroup]="loginForm" (ngSubmit)="doLogin()">
      <ion-grid>
        <ion-row>
          <ion-col>
            <app-input
              label="Email"
              type="email"
              placeholder="Enter your email"
              required
              formControlName="email"
            ></app-input>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <app-input
              label="Password"
              type="password"
              placeholder="Enter your password"
              required
              formControlName="password"
            ></app-input>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <app-button type="submit" color="primary" [disabled]="loginForm.invalid">
              Login
            </app-button>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <app-button color="secondary" (click)="goToRegister()">
              Go to Register
            </app-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </app-card>
</ion-content>
