<ion-content [fullscreen]="true" class="reg-bg">
  <div class="reg-container">
    <app-card class="reg-card">
      <div class="headline">
        <ion-icon name="person-add-outline"></ion-icon>
        <h1>{{ 'register.title' | translate }}</h1>
        <p class="subtitle">{{ 'register.subtitle' | translate }}</p>
      </div>

      <form [formGroup]="registerForm" (ngSubmit)="doRegister()" novalidate>
        <ion-grid class="no-pad">
          <ion-row class="g-12">
            <ion-col size="12" size-md="6">
              <app-input
                [label]="'register.firstName' | translate"
                type="text"
                [placeholder]="'register.firstNamePlaceholder' | translate"
                formControlName="name"
                required
              ></app-input>
            </ion-col>

            <ion-col size="12" size-md="6">
              <app-input
                [label]="'register.lastName' | translate"
                type="text"
                [placeholder]="'register.lastNamePlaceholder' | translate"
                formControlName="lastname"
                required
              ></app-input>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <app-input
                [label]="'register.email' | translate"
                type="email"
                [placeholder]="'register.emailPlaceholder' | translate"
                formControlName="email"
                required
              ></app-input>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <app-input
                [label]="'register.password' | translate"
                type="password"
                [placeholder]="'register.passwordPlaceholder' | translate"
                formControlName="password"
                required
              ></app-input>
            </ion-col>
          </ion-row>

          <ion-row class="actions">
            <ion-col size="12">
              <app-button type="submit" color="primary" [disabled]="registerForm.invalid" (click)="showLoading()">
                {{ 'register.button' | translate }}
              </app-button>
            </ion-col>

            <ion-col size="12" class="muted">
              {{ 'register.haveAccount' | translate }}
              <app-button color="secondary" fill="clear" (click)="goToLogin()">
                {{ 'register.login' | translate }}
              </app-button>
            </ion-col>
          </ion-row>

          <ion-row class="lang-switch">
            <ion-col size="12">
              <app-toggle-translate></app-toggle-translate>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </app-card>
  </div>
</ion-content>
