<ion-header translucent="true" class="glass-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/home"
        text="Back"
        icon="chevron-back-outline">
      </ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'update.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="reg-bg">
  <div class="reg-container">
    <app-card class="reg-card">
      <div class="headline">
        <ion-icon name="person-circle-outline"></ion-icon>
        <h1>{{ 'update.title' | translate }}</h1>
        <p class="subtitle">{{ 'update.subtitle' | translate }}</p>
      </div>

      <form [formGroup]="form" (ngSubmit)="save()" novalidate>
        <ion-grid class="no-pad">
          <ion-row class="g-12">
            <ion-col size="12" size-md="6">
              <app-input
                [label]="'update.name' | translate"
                type="text"
                [placeholder]="'update.namePlaceholder' | translate"
                formControlName="name"
                required
              ></app-input>
            </ion-col>

            <ion-col size="12" size-md="6">
              <app-input
                [label]="'update.lastname' | translate"
                type="text"
                [placeholder]="'update.lastnamePlaceholder' | translate"
                formControlName="lastname"
              ></app-input>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <app-input
                [label]="'update.email' | translate"
                type="email"
                [placeholder]="'update.emailPlaceholder' | translate"
                formControlName="email"
                [disabled]="true"
              ></app-input>
              <p class="help-text">{{ 'update.emailHint' | translate }}</p>
            </ion-col>
          </ion-row>

          <ion-row class="actions">
            <ion-col size="12">
              <app-button type="submit" color="primary">
                {{ 'update.save' | translate }}
              </app-button>
              <app-button type="button" color="medium" fill="clear" (click)="cancel()">
                {{ 'update.cancel' | translate }}
              </app-button>
            </ion-col>
          </ion-row>

          <ion-row class="lang-switch">
            <ion-col size="12">
              <app-toggle-translate></app-toggle-translate>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </app-card>
  </div>
</ion-content>
