<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
<app-card *ngIf="imageUrl$ | async as img">
  <img 
    [src]="img" 
    (click)="setMyWallpaper(3, img)" 
    style="width: 100%; border-radius: 12px; cursor: pointer;" 
  />
</app-card>



  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="editProfile()">
        <ion-icon name="person-circle"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="addImage()">
        <ion-icon name="image"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
