
<ion-menu contentId="main-content" side="start" swipeGesture="true">


<app-side-bar></app-side-bar> 
</ion-menu>


<ion-header translucent="true" class="glass-header">
  <ion-toolbar class="glass-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'home.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content id="main-content" [fullscreen]="true" class="reg-bg home-content">
  <div class="home-container">
    <ng-container *ngIf="images$ | async as imgs">
      <div class="cards-grid" *ngIf="imgs.length; else emptyState">
        <app-card class="img-card" *ngFor="let img of imgs; trackBy: trackByUrl">
          <app-button class="img-wrap" type="button" (click)="showWallpaperOptions(img)">
            <img [src]="img" loading="lazy" alt="wallpaper" />
          </app-button>
        </app-card>
      </div>

      <ng-template #emptyState>
        <app-card class="empty-card">
          <ion-icon name="images-outline"></ion-icon>
          <h2>{{ 'home.empty.title' | translate }}</h2>
          <p>{{ 'home.empty.subtitle' | translate }}</p>
        </app-card>
      </ng-template>
    </ng-container>
  </div>

 
  <app-floating-button
    (edit)="editProfile()"
    (add)="addImage()"
    (logout)="logout()"
    vertical="bottom"
    horizontal="end"
    side="top"
    color="primary">
  </app-floating-button>
</ion-content>
